/venv
/__pycache__
/.idea
TODO.md
__pycache__
/data/success_data
/logs
test.py
app.log
/data/profiles
src/version.txt
data/proxies.txt
/src/utils/dashboard
/src/utils/config_interface
data/private_keys.txt
