certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
curl-cffi==0.5.10
greenlet==3.0.1
idna==3.6
loguru==0.7.2
playwright==1.40.0
playwright-stealth==1.0.6
pycparser==2.21
pyee==11.0.1
pyfiglet==1.0.2
requests==2.31.0
termcolor==2.3.0
typing_extensions==4.8.0
urllib3==2.1.0
win32-setctime==1.1.0
